In [90]:
import pandas as pd, numpy as np

In [91]:
movies=pd.read_csv("movie_metadata.csv")

In [92]:
movies = movies.dropna(subset=['gross', 'budget'])

In [93]:
# Retorna el nombre de files i columnes del dataframe
movies.shape

(3891, 28)

In [94]:
# Et retorna els noms de les columnes.
movies.columns.values

array(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'], dtype=object)

In [95]:
# Et mostra un resum de columnes i files.
movies.describe()

/home/cloudera/anaconda3/lib/python3.5/site-packages/numpy/lib/function_base.py:4269: RuntimeWarning: Invalid value encountered in percentile
  interpolation=interpolation)

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,3890.000000,3890.000000,3891.000000,3881.000000,3888.000000,3.891000e+03,3.891000e+03,3891.000000,3885.000000,3891.000000,3.891000e+03,3891.000000,3886.000000,3891.000000,3816.000000,3891.000000
mean,163.234704,109.896401,781.307376,753.534914,7584.675669,5.105500e+07,1.025834e+05,11263.053200,1.379923,327.309946,4.521028e+07,2003.081470,1970.656974,6.463506,2.109751,9138.152660
std,124.053735,22.706775,3017.677327,1866.632392,15366.076754,6.980248e+07,1.507162e+05,18925.356084,2.055314,408.006292,2.223895e+08,10.001352,4485.731089,1.056080,0.352416,21302.761999
min,1.000000,34.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1920.000000,0.000000,1.600000,1.180000,0.000000
25%,NaN,NaN,10.000000,NaN,NaN,6.836508e+06,1.731400e+04,1818.000000,NaN,102.000000,1.000000e+07,1999.000000,NaN,5.900000,NaN,0.000000
50%,NaN,NaN,58.000000,NaN,NaN,2.797940e+07,5.041500e+04,3888.000000,NaN,203.000000,2.400000e+07,2005.000000,NaN,6.600000,NaN,209.000000
75%,NaN,NaN,226.000000,NaN,NaN,6.536066e+07,1.242035e+05,16001.500000,NaN,391.000000,5.000000e+07,2010.000000,NaN,7.200000,NaN,11000.000000
max,813.000000,330.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.300000,16.000000,349000.000000

In [96]:
# Et mostra certa informació del document, com registres, informació de les columnes,etc.
movies.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3891 entries, 0 to 5042
Data columns (total 28 columns):
color                        3889 non-null object
director_name                3891 non-null object
num_critic_for_reviews       3890 non-null float64
duration                     3890 non-null float64
director_facebook_likes      3891 non-null float64
actor_3_facebook_likes       3881 non-null float64
actor_2_name                 3886 non-null object
actor_1_facebook_likes       3888 non-null float64
gross                        3891 non-null float64
genres                       3891 non-null object
actor_1_name                 3888 non-null object
movie_title                  3891 non-null object
num_voted_users              3891 non-null int64
cast_total_facebook_likes    3891 non-null int64
actor_3_name                 3881 non-null object
facenumber_in_poster         3885 non-null float64
plot_keywords                3860 non-null object
movie_imdb_link              3891 non-null object
num_user_for_reviews         3891 non-null float64
language                     3888 non-null object
country                      3891 non-null object
content_rating               3840 non-null object
budget                       3891 non-null float64
title_year                   3891 non-null float64
actor_2_facebook_likes       3886 non-null float64
imdb_score                   3891 non-null float64
aspect_ratio                 3816 non-null float64
movie_facebook_likes         3891 non-null int64
dtypes: float64(13), int64(3), object(12)
memory usage: 881.6+ KB

In [97]:
# et mostra quin rang de columnes vols veure. Mostra el cap de la llista.
#movies.iloc[:,11:18].head()
#movies.iloc[0:5]
movies.iloc[1,0:5]

color                               Color
director_name              Gore Verbinski
num_critic_for_reviews                302
duration                              169
director_facebook_likes               563
Name: 1, dtype: object

#Exercisi A.

El número de filas y columnas en el marco de datos de películas

In [98]:
movies.shape

(3891, 28)

El nombre de la película en la posición número 1000 o en la fila del marco de datos

In [99]:
movies.iloc[1000,0:28]

color                                                                    Color
director_name                                                      Ben Stiller
num_critic_for_reviews                                                      72
duration                                                                    96
director_facebook_likes                                                      0
actor_3_facebook_likes                                                     302
actor_2_name                                                  Janeane Garofalo
actor_1_facebook_likes                                                    2000
gross                                                              6.01544e+07
genres                                                   Comedy|Drama|Thriller
actor_1_name                                                 Matthew Broderick
movie_title                                                     The Cable Guy
num_voted_users                                                         122347
cast_total_facebook_likes                                                 3718
actor_3_name                                                         Andy Dick
facenumber_in_poster                                                         1
plot_keywords                     cable guy|foreplay|friend|kissing|television
movie_imdb_link              http://www.imdb.com/title/tt0115798/?ref_=fn_t...
num_user_for_reviews                                                       345
language                                                               English
country                                                                    USA
content_rating                                                           PG-13
budget                                                                 4.7e+07
title_year                                                                1996
actor_2_facebook_likes                                                    1000
imdb_score                                                                   6
aspect_ratio                                                              2.35
movie_facebook_likes                                                         0
Name: 1055, dtype: object

In [100]:
movies.columns.values

array(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'], dtype=object)

Cuál es el nombre de esta variable? Inserte el código a continuación, que recupera las estadísticas de resumen.

In [101]:
movies['gross'].describe()

count    3.891000e+03
mean     5.105500e+07
std      6.980248e+07
min      1.620000e+02
25%      6.836508e+06
50%      2.797940e+07
75%      6.536066e+07
max      7.605058e+08
Name: gross, dtype: float64

Ejercicio B:

El presupuesto más bajo, más alto, medio (promedio) y mediano para películas en el conjunto de datos

In [102]:
movies.budget.median()

24000000.0

In [103]:
movies.budget.max()

12215500000.0

In [104]:
movies.budget.max()

12215500000.0

In [105]:
movies.budget.min()

218.0

In [106]:
movies.budget.mean()

45210278.27833462

las puntuaciones imdb más altas y más bajas .

In [107]:
movies.imdb_score.max()

9.3000000000000007

In [108]:
movies.imdb_score.min()

1.6000000000000001


Las 15 películas mejor calificadas en el conjunto de datos por puntaje imdb. Cree un nuevo marco de datos con el título de la película, el año, el presupuesto y la puntuación imdb. Imprime los 15 primeros.

In [109]:
filterfilms= movies.sort_values('imdb_score', ascending=False)
pelis = filterfilms.head(15)[['movie_title', 'title_year', 'budget', 'imdb_score']]
pelis

,movie_title,title_year,budget,imdb_score
1937,The Shawshank Redemption,1994.0,25000000.0,9.3
3466,The Godfather,1972.0,6000000.0,9.2
66,The Dark Knight,2008.0,185000000.0,9.0
2837,The Godfather: Part II,1974.0,13000000.0,9.0
3355,Pulp Fiction,1994.0,8000000.0,8.9
1874,Schindler's List,1993.0,22000000.0,8.9
4498,"The Good, the Bad and the Ugly",1966.0,1200000.0,8.9
339,The Lord of the Rings: The Return of the King,2003.0,94000000.0,8.9
97,Inception,2010.0,160000000.0,8.8
270,The Lord of the Rings: The Fellowship of the R...,2001.0,93000000.0,8.8
836,Forrest Gump,1994.0,55000000.0,8.8
2051,Star Wars: Episode V - The Empire Strikes Back,1980.0,18000000.0,8.8
683,Fight Club,1999.0,63000000.0,8.8
654,The Matrix,1999.0,63000000.0,8.7
4029,City of God,2002.0,3300000.0,8.7

4, Forrest Gump, Matrix, Fight Club, Star Wars

Calcule las 10 películas más rentables por porcentaje.

¿Qué género de película parece ser más rentable según este cálculo?

In [110]:
movies['percentprofit1']=((movies['gross'] - movies['budget']))
movies['percentprofit1'].head()

0    523505847.0
1      9404152.0
2    -44925825.0
3    198130642.0
5   -190641321.0
Name: percentprofit1, dtype: float64

In [111]:
mostprofit=movies.sort_values('percentprofit1',ascending=False)
mostprofitpercent = movies.sort_values('percentprofit1', ascending=False)
mostprofitpercent[['movie_title', 'percentprofit1']].head(10)

                                     movie_title  percentprofit1
0                                        Avatar      523505847.0
29                               Jurassic World      502177271.0
26                                      Titanic      458672302.0
3024         Star Wars: Episode IV - A New Hope      449935665.0
3080                 E.T. the Extra-Terrestrial      424449459.0
794                                The Avengers      403279547.0
17                                 The Avengers      403279547.0
509                               The Lion King      377783777.0
240   Star Wars: Episode I - The Phantom Menace      359544677.0
66                              The Dark Knight      348316061.0

¿Cuántas películas se hicieron antes de 1960?

In [112]:
# Agrupem totes les pelis d'abans de 1960, i les mostrem amb un shape.
anterior1960 = movies[movies['title_year']<1960]

anterior1960['title_year'].shape

(23,)

Ejercicio final

1. Identifique al director que hizo más películas (en este conjunto de datos) en los últimos 25 años. ¿Cuántos dirigió durante este tiempo?

In [113]:
totalpelis = movies[movies['title_year']>1994]
# Mostro 20 per comprovar que es correcte el resultat.
totalpelis['director_name'].value_counts().head(20)

Clint Eastwood        16
Steven Spielberg      15
Steven Soderbergh     15
Woody Allen           15
Ridley Scott          14
Michael Bay           13
Ron Howard            12
Shawn Levy            12
Robert Rodriguez      12
Peter Jackson         11
Tim Burton            11
Rob Cohen             11
Paul W.S. Anderson    10
Sam Raimi             10
Brett Ratner          10
Renny Harlin          10
Joel Schumacher       10
Dennis Dugan           9
Martin Campbell        9
Wes Craven             9
Name: director_name, dtype: int64

Cuántas ganancias netas totales han obtenido las películas de nuestro director más prolífico en los últimos 25 años? Nota: para el cálculo final sumando las ganancias totales de las películas de este director, deberá probar el comando .sum () . Debería verse así: dfname ['colname']. Sum ()

In [115]:
Totalprofit=totalpelis[movies['director_name']=='Clint Eastwood']
Totalprofit['percentprofit1'].sum()

/home/cloudera/anaconda3/lib/python3.5/site-packages/ipykernel/__main__.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  if __name__ == '__main__':

463263653.0